
.btn-header-left
  @extend %vertical-center
  float: left
  margin-left: 70px

.btn-style-1
  padding: 0 36px
  height: 38px
  line-height: 38px
  background-color: #1CC678

  &:active, &:hover
    background-color: #149E5F
