
$course-card-width: 470px
$course-card-title-height: 80px
$course-card-events-height: 310px
$course-card-border: solid 1px #dddddd

.courses
  padding: 0 70px

li.course
  padding-bottom: 42px

  // Scheme colors
  &.scheme-1 .title
    background: #FEDD59
    .subtitle
      color: #B19B40
  &.scheme-2 .title
    background: #54C5FF
    .subtitle
      color: #437E9B
  &.scheme-3 .title
    background: #FF926A
    .subtitle
      color: #B06449
  &.scheme-4 .title
    background: #A893FF
    .subtitle
      color: #7567B4

  .title
    @include side-radius(top)
    width: $course-card-width
    height: $course-card-title-height
    padding-top: 15px
    padding-left: 20px

  .subtitle
    font-size: 0.9rem

  h1
    font-size: 1.5rem
    line-height: 1.5rem
    margin-bottom: 0
    text-transform: uppercase

  .events
    @include side-radius(bottom)
    border: $course-card-border
    width: $course-card-width
    height: $course-card-events-height
    background: white
    table
      width: 100%
      tr
        border-bottom: $course-card-border
        &:nth-child(6)
          border-bottom: 0
      td
        height: $course-card-events-height/6 - 1
        font-weight: bold
        &:nth-child(5)
          color: #AAA
        &:nth-child(n+5)
          font-weight: normal
        &:nth-child(-n+5)
          text-transform: uppercase
