doctype html
html.no-js lang="en" ng-app="DunnoApp"
  head
    meta charset="utf-8" /
    meta content="width=device-width, initial-scale=1.0" name="viewport" /
    title Foundation
    link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'
    link href="css/normalize.css" rel="stylesheet" /
    link href="css/foundation.css" rel="stylesheet" /
    link href="css/app.css" rel="stylesheet" /
    script src="js/modernizr/modernizr.js"
  body
    nav class="top-bar" data-topbar=""
      ul class="title-area"
        li class="name"
          h1
            a class="icons icon-dunno-logo" href="#"
      section class="top-bar-section"
        ul class="left"
          li
            a href="#/events.html" Aulas
          li
            a href="#/courses.html" Turmas
          - if !publish?
            li
              a href="#content.html" Calendário
            li
              a href="#content.html" Tarefas
            li
              a href="#styleguide.html" Styleguide

    .content ng-controller="MainCtrl" ng-view=""

    script src="js/jquery/dist/jquery.min.js"
    script src="js/foundation/js/foundation.min.js"
    script src="js/foundation/js/foundation/foundation.magellan.js"
    script src="js/foundation/js/foundation/foundation.dropdown.js"
    script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular.js"
    script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.13/angular-route.js"></script>
    script src="js/angular-scroll/angular-scroll.min.js"
    javascript:
      $(document).foundation();
      routes = #{{routes}};
      angular.module('DunnoApp', ['ngRoute', 'duScroll'])
      .config(['$routeProvider', function($routeProvider){
        for(var i = 0; i < routes.length; i++) {
          $routeProvider.when('/' + routes[i], {templateUrl: routes[i]});
        }
        $routeProvider.otherwise({redirectTo: '/courses.html'});
      }])
      .controller('MainCtrl', ['$scope', '$document', function($scope, $document){
        $scope.$on('$viewContentLoaded', function () {
          $(document).foundation();
        });

        klasses = [
          {
            name: 'PSI 1957', location: 'PUC-Rio – L210', order: 1, published: true, events: []
          },
          {
            name: 'PSI 1600', location: 'PUC-Rio – L206', order: 2, published: true, events: []
          }
        ];

        events = [];

        now = new Date();
        for (var i = 0; i < 10; i++) {
          events.push({
            klass: klasses[0],
            order: i,
            name: 'Tópicos em Psicologia, Trabalho e Organizações',
            start_at: now,
            end_at: new Date(now.getTime() + 60 * 60 * 1000),
            tasks: [
              "Resumo da aula anterior",
              "Apresentar novo conceito",
              "Aplicar enquete",
              "Mostrar vídeo",
              "Revisar conceito",
              "Passar tarefa de casa"
            ]
          });
        }

        for (var i = 0; i < 3; i++) {
          events.push({
            klass: klasses[1],
            order: i,
            name: 'Método Científico',
            start_at: now,
            end_at: new Date(now.getTime() + 60 * 60 * 1000),
            tasks: [
              "Resumo da aula anterior",
              "Apresentação dos seminários",
              "Definição dos próximos temas"
            ]
          });
        }

        events.forEach(function(event){
          event.klass.events.push(event);
        });

        $scope.events = events;
        $scope.event = events[0];
        $scope.klasses = klasses;
        $scope.klass = klasses[0];

      }]);

